pipeline/Project_2_Pipeline.json
{
	"name": "Project_2_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get_File_names_in_Sales",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Ingest_Raw_data_Bronze_layer_Source",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "For_looping_through_Files_in_Sales",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_File_names_in_Sales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_File_names_in_Sales').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Loop_Through_File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/vishalkrishnan97@live.com/Vk Project #2 notebook"
							},
							"linkedServiceName": {
								"referenceName": "vk_databricks_linkedservice",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Project Pipelines"
		},
		"annotations": []
	}
}